<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>create.html</welcome-file>
	</welcome-file-list>

	<!-- Register objectify entity -->
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.born2go.server.DataRegister</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<!-- Objectify Filter -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- DataStore service -->
	<servlet>
		<servlet-name>data_service</servlet-name>
		<servlet-class>com.born2go.server.DataServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>data_service</servlet-name>
		<url-pattern>/tripshare/datastore</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoUploadServlet</servlet-name>
		<servlet-class>com.born2go.server.UploadService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoUploadServlet</servlet-name>
		<url-pattern>/photo_upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RESTful</servlet-name>
		<servlet-class>com.born2go.server.BAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RESTful</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	
	<!-- JSP Servlet -->
	<servlet>
		<servlet-name>journeyPage</servlet-name>
		<jsp-file>/journey/journey.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>journeyPage</servlet-name>
		<url-pattern>/journey/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>destinationPage</servlet-name>
		<jsp-file>/destination/destination.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>destinationPage</servlet-name>
		<url-pattern>/destination/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>profilePage</servlet-name>
		<jsp-file>/profile/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>profilePage</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
	
	<!-- Mobile JSP Servlet -->
	<servlet>
		<servlet-name>HomeMobileWeb</servlet-name>
		<jsp-file>/mhome/mhome.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeMobileWeb</servlet-name>
		<url-pattern>/mhome/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MobileWeb</servlet-name>
		<jsp-file>/mtrip/mTripView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileWeb</servlet-name>
		<url-pattern>/mtrip/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PathMobileWeb</servlet-name>
		<jsp-file>/mdestination/mpath.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PathMobileWeb</servlet-name>
		<url-pattern>/mdestination/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProfileMobileWeb</servlet-name>
		<jsp-file>/mprofile/mprofile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileMobileWeb</servlet-name>
		<url-pattern>/mprofile/*</url-pattern>
	</servlet-mapping>

	<!-- Appstats -->
	<!-- <filter>
		<filter-name>appstats</filter-name>
		<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>appstats</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>appstats</servlet-name>
		<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appstats</servlet-name>
		<url-pattern>/born2go/*</url-pattern>
	</servlet-mapping> -->

</web-app>