<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>create.html</welcome-file>
		<welcome-file>journey.jsp</welcome-file>
	</welcome-file-list>

	<!-- register objectify -->
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.itpro.tripshare.server.DataRegister</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<!-- DataStore service -->
	<servlet>
		<servlet-name>data_service</servlet-name>
		<servlet-class>com.itpro.tripshare.server.DataServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>data_service</servlet-name>
		<url-pattern>/script/datastore</url-pattern>
	</servlet-mapping>

	<!-- upload file -->
	<servlet>
		<servlet-name>upload_Service</servlet-name>
		<servlet-class>com.itpro.tripshare.server.UploadServiceIpmls</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload_Service</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<!-- download file -->
	<servlet>
		<servlet-name>downloadService</servlet-name>
		<servlet-class>com.itpro.tripshare.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>downloadService</servlet-name>
		<url-pattern>/script/downloadService</url-pattern>
	</servlet-mapping>

</web-app>